<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title id='Description'>jqxEditor represents a ready-for-use
	HTML editor which can simplify web content creation or be a replacement
	of your HTML Text Areas.</title>
<link rel="stylesheet"
	href="{{=URL('static','css/vendor/jqwidgets/styles/jqx.base.css')}}"
	type="text/css" />
<link type="text/css" rel="Stylesheet"
	href="{{=URL('static','css/site.css')}}" />
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jquery/jquery-1.11.1.min.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/demos.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxcore.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxscrollbar.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxlistbox.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxdropdownlist.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxdropdownbutton.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxcolorpicker.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxwindow.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxeditor.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxtooltip.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxdata.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxinput.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxnumberinput.js')}}"></script>	
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxcheckbox.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxexpander.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/gmbsmx.js')}}"></script>

</head>
<body>
	<div id="gmbs-expander">
		<div id='title' value='{{=title}}'>{{=title}}</div>
		<div>
		
			<table align="center" width="600px">
<tr id='tr_id' style="display:none"><td class='tbinputtitle'>编号:</td><td><input class='tbinput' type='text' id='id' value='{{=id}}'/></td></tr>
<tr id='tr_dwmc'><td class='tbinputtitle'>购标书单位名称:</td><td><input class='tbinput' type='text' id='dwmc'/></td></tr>
<tr id='tr_rq'><td class='tbinputtitle'>日期:</td><td><input class='tbinput' type='text' id='rq'/></td></tr>
<tr id='tr_zzszwmc'><td class='tbinputtitle'>制造商单位中文名称:</td><td><input class='tbinput' type='text' id='zzszwmc'/></td></tr>
<tr id='tr_zzsywmc'><td class='tbinputtitle'>制造商单位英文名称:</td><td><input class='tbinput' type='text' id='zzsywmc'/></td></tr>
<tr id='tr_zzsgb'><td class='tbinputtitle'>制造商国别:</td><td><input class='tbinput' type='text' id='zzsgb'/></td></tr>
<tr id='tr_lxdz'><td class='tbinputtitle'>联系地址:</td><td><input class='tbinput' type='text' id='lxdz'/></td></tr>
<tr id='tr_lxr'><td class='tbinputtitle'>联系人:</td><td><input class='tbinput' type='text' id='lxr'/></td></tr>
<tr id='tr_sj'><td class='tbinputtitle'>手机:</td><td><input class='tbinput' type='text' id='sj'/></td></tr>
<tr id='tr_dzxx'><td class='tbinputtitle'>电子信箱:</td><td><input class='tbinput' type='text' id='dzxx'/></td></tr>
<tr id='tr_cz'><td class='tbinputtitle'>传真:</td><td><input class='tbinput' type='text' id='cz'/></td></tr>
<tr id='tr_bsbh'><td class='tbinputtitle'>标书编号:</td><td><div class='tbinput' type='text' id='bsbh'/></td></tr>
<tr id='tr_je'><td class='tbinputtitle'>金额:</td><td><input class='tbinput' type='text' id='je'/></td></tr>


                    <tr>
                        <td align="right"></td>
                        <td style="padding-top: 10px;" align="right"><input style="margin-right: 5px;" type="button" id="Save" value="保存" /><input id="Cancel" type="button" value="取消" /></td>
                    </tr>
                </table>
			</table>
		</div>
</body>
</html>