{{extend 'layout.html'}} 

{{block head}}
    <link rel="stylesheet" href="{{=URL('static','css/vendor/jqwidgets/styles/jqx.base.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{=URL('static','css/vendor/jqwidgets/styles/jqx.bootstrap.css')}}" type="text/css" />
    <script type="text/javascript" src="{{=URL('static','js/vendor/jquery/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/demos.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxsplitter.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxscrollbar.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxpanel.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxnavigationbar.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxtabs.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxtree.js')}}"></script>
	<script type="text/javascript">
        
    </script>
{{end}} 

{{block center}}

    <div id='jqxWidget' style="width: 100%; height: 100%;">
        <div id="mainSplitter">
            <div class="splitter-panel">
                <div id='jqxNavigationBar'>
					<div>项目管理</div>
					<div>
						<ul>
						<li><a href="#" onclick="addTabs('协议编号', 'ProtocolCode.html')">协议编号</a></li>
						<li><a href="#" onclick="addTabs('项目编号', 'ProjectCode.html')">项目编号</a></li>
						<li><a href="#" onclick="addTabs('项目内容', 'Project.html')">项目内容</a></li>
						<li><a href="#" onclick="addTabs('财务管理', 'upload.html')">财务管理</a></li>
						</ul>
					</div>
					<div>用户管理</div>
					<div>
					<table align="center" width="60%">
					<tr><td>
					<input type="button" value="Toggled On" id='yh' /></td>
					</tr>
					<tr><td>
					<button id='yh1' />银行流水</button></td>
					</tr>
					</table>
					</div>
					<div>报表管理</div>
					<div>2</div>
					<div>系统设置</div>
<div id='aa' width="100%">
        <div style='float: left;' width="100%">
            <div id='jqxTree' style="border:none" width="100%">
                <ul>
                    <li id='home'>Home</li>
                    <li item-expanded='true'>Solutions
                      
                    </li>
                    <li>Products
                        <ul>
                            <li>PC products</li>
                            <li>Mobile products</li>
                            <li>All products</li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>
    </div>
				</div>	
			</div>
            <div class="splitter-panel">
				<div id='jqxTabs' class = "right-tab">
					<ul style="margin-left: 30px;" id="unorderedList">
						<li hasclosebutton='false'>首页</li>
					</ul>

					<div id="kmye-jqxgrid">					<iframe id="welcome" style="border:none;padding:0;margin:0;" frameborder=no border=0 height="99%" width="100%"src="agenda"></iframe>      </div>

				</div>				
				
			</div>
        </div>
    </div>
    
{{end}}