{{extend 'layout.html'}}

{{block head}}
   
{{end}}

{{block center}}
  {{end}}

{{block page_js}}
<script type="text/javascript" src="{{=URL('static','js/vendor/jquery/jquery-1.11.1.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/demos.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxcore.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxsplitter.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxscrollbar.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxpanel.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxnavigationbar.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxtabs.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxtree.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/index.js')}}"></script>
{{end page_js}}
