<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title id='Description'>Projects</title>
	<meta name="description" content="JavaScript Grid Context Menu" /> 	
	<link rel="stylesheet"	href="{{=URL('static','css/vendor/jqwidgets/styles/jqx.base.css')}}"	type="text/css" />
	<script src="{{=URL('static','js/vendor/jquery/jquery-1.11.1.min.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxcore.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxdata.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxscrollbar.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxmenu.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.pager.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.selection.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxnumberinput.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxwindow.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxlistbox.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxdropdownlist.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/demos.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/generatedata.js')}}"	type="text/javascript"></script>
    <script src="{{=URL('static','js/Projects.js')}}"	type="text/javascript"></script>
</head>
<body class='default'>
    <div id='jqxWidget'>
        <div id="jqxgrid"></div>
        <div style="margin-top: 30px;">
            <div id="cellbegineditevent"></div>
            <div style="margin-top: 10px;" id="cellendeditevent"></div>
       </div>
       <div id="popupWindow">
            <div>Edit</div>
           	<div style="overflow: hidden;">
           	<table>
<tr>
<td align="right"><p>Id</p></td>
<td align="left"><input id="Id" /></td>
</tr>
<tr>
<td align="right"><p>ProtocolCodeId</p></td>
<td align="left"><input id="ProtocolCodeId" /></td>
</tr>
<tr>
<td align="right"><p>ProjectCodeId</p></td>
<td align="left"><input id="ProjectCodeId" /></td>
</tr>
<tr>
<td align="right"><p>ProjectName</p></td>
<td align="left"><input id="ProjectName" /></td>
</tr>
<tr>
<td align="right"><p>BuyerId</p></td>
<td align="left"><input id="BuyerId" /></td>
</tr>
<tr>
<td align="right"><p>EmployeeId</p></td>
<td align="left"><input id="EmployeeId" /></td>
</tr>
<tr>
<td align="right"><p>Assistant</p></td>
<td align="left"><input id="Assistant" /></td>
</tr>
<tr>
<td align="right"><p>ProjectSourceId</p></td>
<td align="left"><input id="ProjectSourceId" /></td>
</tr>
<tr>
<td align="right"><p>SourcesOfFundingId</p></td>
<td align="left"><input id="SourcesOfFundingId" /></td>
</tr>
<tr>
<td align="right"><p>ProjectTypeId</p></td>
<td align="left"><input id="ProjectTypeId" /></td>
</tr>
<tr>
<td align="right"><p>ManagementStyleId</p></td>
<td align="left"><input id="ManagementStyleId" /></td>
</tr>
<tr>
<td align="right"><p>Package</p></td>
<td align="left"><input id="Package" /></td>
</tr>
<tr>
<td align="right"><p>StateId</p></td>
<td align="left"><input id="StateId" /></td>
</tr>
<tr>
<td align="right"><p>SigningDate</p></td>
<td align="left"><input id="SigningDate" /></td>
</tr>
<tr>
<td align="right"><p>MakeOutDate</p></td>
<td align="left"><input id="MakeOutDate" /></td>
</tr>
<tr>
<td align="right"><p>EntrustMoney</p></td>
<td align="left"><input id="EntrustMoney" /></td>
</tr>
<tr>
<td align="right"><p>WinningMoney</p></td>
<td align="left"><input id="WinningMoney" /></td>
</tr>
<tr>
<td align="right"><p>WinningCompany</p></td>
<td align="left"><input id="WinningCompany" /></td>
</tr>
<tr>
<td align="right"><p>ChargeRate</p></td>
<td align="left"><input id="ChargeRate" /></td>
</tr>
<tr>
<td align="right"><p>Note</p></td>
<td align="left"><input id="Note" /></td>
</tr>
<tr>
<td align="right"><p>CreationDate</p></td>
<td align="left"><input id="CreationDate" /></td>
</tr>
<tr>
<td align="right"><p>IsDelete</p></td>
<td align="left"><input id="IsDelete" /></td>
</tr>
<tr>
<td align="right" style="padding-top: 10px;">
<td align="left"><input type="button" id="Cancel" value="Cancel" /></td>
<td align="left"><input type="button" id="Save" value="Save" /></td>
</tr>
</table>
       		</div>
       </div>
       <div id='Menu'>
        <ul>
            <li>Edit Selected Row</li>
            <li>Delete Selected Row</li>
        </ul>
       </div>
    </div>
</body>
</html>