<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title id='Description'>ProtocolCode</title>
	<meta name="description" content="JavaScript Grid Context Menu" /> 	
	<link rel="stylesheet"	href="{{=URL('static','css/vendor/jqwidgets/styles/jqx.base.css')}}"	type="text/css" />
	<script src="{{=URL('static','js/vendor/jquery/jquery-1.11.1.min.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxcore.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxdata.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxinput.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxscrollbar.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxmenu.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.pager.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.selection.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxdata.export.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.export.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.sort.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxnumberinput.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxwindow.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxlistbox.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxdropdownlist.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/demos.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/generatedata.js')}}"	type="text/javascript"></script>
    <script src="{{=URL('static','js/ProtocolCode2.js')}}"	type="text/javascript"></script>
</head>
<body class='default'>
    <div id='jqxWidget'>
    	<div id="searchArea">
    	<!--AUTO_GENERATED-->
    	<table id='searchTable' width='100%'>
    			<tr> 
	    			<td>序       号: </td> 
	    			<td> <input type="text" id="searchId"/> </td> 
	    			<td>协议编号:</td> 
	    			<td><input type="text" id="searchProtocolNumber"/> </td> 
    			</tr>
    			<tr> 
    				<td>类型编号:</td> 
    				<td> <input type="text" id="searchTypeId"/> </td> 
    				<td>员工编号:</td> 
    				<td><input type="text" id="searchEmployeeId"/></td>
    			</tr>
    			<tr> 
    				<td>创建日期:</td> 
    				<td> <input type="text" id="searchCreationTime"/> </td> 
    				<td>是否已删除:</td> 
    				<td><input type="text" id="searchIsDelete"/></td>
    			</tr>
    		</table>
    	</div>
    
        <div id="jqxgrid"></div>
        
        <div style="margin-top: 30px;">
            <div id="cellbegineditevent"></div>
            <div style="margin-top: 10px;" id="cellendeditevent"></div>
       </div>
       
       
       <div id="popupWindow_EDIT">
            <div>编辑</div>
           	<div style="overflow: hidden;">
           	<!--AUTO_GENERATED-->
           	<table id='editTable'>
				<tr>
				<td align="right"><p>序号</p></td>
				<td align="left"><input id="Id" /></td>
				</tr>
				<tr>
				<td align="right"><p>协议编号</p></td>
				<td align="left"><input id="ProtocolNumber" /></td>
				</tr>
				<tr>
				<td align="right"><p>类型编号</p></td>
				<td align="left"><input id="TypeId" /></td>
				</tr>
				<tr>
				<td align="right"><p>员工编号</p></td>
				<td align="left"><input id="EmployeeId" /></td>
				</tr>
				<tr>
				<td align="right"><p>创建日期</p></td>
				<td align="left"><input id="CreationTime" /></td>
				</tr>
				<tr>
				<td align="right"><p>是否已删除</p></td>
				<td align="left"><input id="IsDelete" /></td>
				</tr>
				<tr>
				<td align="right" style="padding-top: 10px;">
				<td align="left"><input type="button" id="Cancel" value="取消" /></td>
				<td align="left"><input type="button" id="Save" value="保存" /></td>
				</tr>
				</table>
       		</div>
       </div>
       
       
       <div id="popupWindow_ADD">
            <div>新增</div>
           	<div style="overflow: hidden;">
           	<!--AUTO_GENERATED-->
           	<table id='addTable'>
				<tr>
				<td align="right"><p>协议编号</p></td>
				<td align="left"><input id="ProtocolNumber_ADD" /></td>
				</tr>
				<tr>
				<td align="right"><p>类型编号</p></td>
				<td align="left"><input id="TypeId_ADD" /></td>
				</tr>
				<tr>
				<td align="right"><p>员工编号</p></td>
				<td align="left"><input id="EmployeeId_ADD" /></td>
				</tr>
				<tr>
				<td align="right"><p>创建日期</p></td>
				<td align="left"><input id="CreationTime_ADD" /></td>
				</tr>
				<tr>
				<td align="right"><p>是否已删除</p></td>
				<td align="left"><input id="IsDelete_ADD" /></td>
				</tr>
				<tr>
				<td align="right" style="padding-top: 10px;">
				<td align="left"><input type="button" id="Cancel_ADD" value="取消" /></td>
				<td align="left"><input type="button" id="Save_ADD" value="保存" /></td>
				</tr>
			</table>
       		</div>
       </div>

       <div id='Menu'>
        <ul>
            <li>修改</li>
            <li>删除</li>
        </ul>
       </div>
    </div>
</body>
</html>