<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title id='Description'>ProtocolCode</title>
	<meta name="description" content="JavaScript Grid Context Menu" /> 	
	<link rel="stylesheet"	href="{{=URL('static','css/vendor/jqwidgets/styles/jqx.base.css')}}"	type="text/css" />
	<script src="{{=URL('static','js/vendor/jquery/jquery-1.11.1.min.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxcore.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxdata.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxinput.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxscrollbar.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxmenu.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.pager.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.selection.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxdata.export.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.export.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.sort.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxnumberinput.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxwindow.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxlistbox.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/jqxdropdownlist.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/demos.js')}}"	type="text/javascript"></script>
	<script src="{{=URL('static','js/vendor/jqwidgets/generatedata.js')}}"	type="text/javascript"></script>
    <script src="{{=URL('static','js/ProtocolCode.js')}}"	type="text/javascript"></script>
</head>
<body class='default'>
    <div id='jqxWidget'>
    	<div style='margin-top: 20px;'>
    		<table>
    			<tr> 
	    			<td> Name： </td> 
	    			<td> <input type="text" id="inputName"/> </td> 
	    			<td> Time： </td> 
	    			<td><input type="text" id="inputTime"/> </td> 
    			</tr>
    			<tr> 
    				<td> Code： </td> 
    				<td> <input type="text" id="inputCode"/> </td> 
    				<td> Status： </td> 
    				<td><input type="text" id="inputStatus"/></td> 
    			</tr>
    		</table>
    	</div>
    	<div style='margin-top: 20px;'>
            <div style='float: left;'>
                <input type="button" value="Export to Excel" id='excelExport' />
                <br /><br />
                <input type="button" value="Export to XML" id='xmlExport' />
            </div>
            <div style='margin-left: 10px; float: left;'>
                <input type="button" value="Export to CSV" id='csvExport' />
                <br /><br />
                <input type="button" value="Export to TSV" id='tsvExport' />
            </div>
            
            <div style='margin-left: 10px; float: left;'>
                <input type="button" value="Export to HTML" id='htmlExport' />
                <br /><br />
                <input type="button" value="Export to JSON" id='jsonExport' />
            </div>
            <div style='margin-left: 10px; float: left;'>
                <input type="button" value="Export to PDF" id='pdfExport' />
                <br /><br />
                <input type="button" value="Print" id='print' />
            </div>
        </div>

        <div id="jqxgrid"></div>
        
        <div style="margin-top: 30px;">
            <div id="cellbegineditevent"></div>
            <div style="margin-top: 10px;" id="cellendeditevent"></div>
       </div>
       
       <div id="popupWindow">
            <div>Edit</div>
           	<div style="overflow: hidden;">
           	<table>
<tr>
<td align="right"><p>序号</p></td>
<td align="left"><input id="Id" /></td>
</tr>
<tr>
<td align="right"><p>协议编号</p></td>
<td align="left"><input id="ProtocolNumber" /></td>
</tr>
<tr>
<td align="right"><p>类型编号</p></td>
<td align="left"><input id="TypeId" /></td>
</tr>
<tr>
<td align="right"><p>员工编号</p></td>
<td align="left"><input id="EmployeeId" /></td>
</tr>
<tr>
<td align="right"><p>创建日期</p></td>
<td align="left"><input id="CreationTime" /></td>
</tr>
<tr>
<td align="right"><p>是否已删除</p></td>
<td align="left"><input id="IsDelete" /></td>
</tr>
<tr>
<td align="right" style="padding-top: 10px;">
<td align="left"><input type="button" id="Cancel" value="Cancel" /></td>
<td align="left"><input type="button" id="Save" value="Save" /></td>
</tr>
</table>
       		</div>
       </div>
       <div id="jqxwindow">
            <div>
                Find Record</div>
            <div style="overflow: hidden;">
                <div>
                    Find what:</div>
                <div style='margin-top:5px;'>
                    <input id='inputField' type="text" class="jqx-input" style="width: 200px; height: 23px;" />
                </div>
                <div style="margin-top: 7px; clear: both;">
                    Look in:</div>
                <div style='margin-top:5px;'>
                    <div id='dropdownlist'>
                    </div>
                </div>
                <div>
                    <input type="button" style='margin-top: 15px; margin-left: 50px; float: left;' value="Find" id="findButton" />
                    <input type="button" style='margin-left: 5px; margin-top: 15px; float: left;' value="Clear" id="clearButton" />
                </div>
            </div>
        </div>
       <div id='Menu'>
        <ul>
            <li>Edit Selected Row</li>
            <li>Delete Selected Row</li>
        </ul>
       </div>
    </div>
</body>
</html>