{{extend 'layout.html'}}
{{if request.args(0)=='login11':}}
<h2>
{{=T('Sign Up') if request.args(0) == 'register' else T('Log In') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
</h2>
{{pass}}

<style type="text/css">
#auth_user_password,#auth_user_username {
     position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    height: 25px;
    border-radius: 4px;   
    background: #fff;
}
</style>
<div style="position:absolute;padding-top:25%"><img  src="{{=URL('static','images/logo.png')}}"/></div>
<div class="container" style="padding-left:60%;padding-top:6%;">
    <div class="row"  >
        <div class="col-lg-6" style="filter:alpha(opacity=50);opacity:0.2;background:#000;position:absolute;top:0px;width:300px;height:180px"></div>
        <div id="web2py_user_form" class="col-lg-6"  style="font-family:微软雅黑;position:absolute;top:0px; color:white;padding-top: 20px;box-shadow: 10px 10px 5px #888888;border-radius:5px;width:300px; height:180px;" >
        {{
        if request.args(0)=='login':
            if not 'register' in auth.settings.actions_disabled:
                form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default')
            pass
            if not 'request_reset_password' in auth.settings.actions_disabled:
                form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn btn-default')
            pass
        pass
        =form
        }}
        </div>
    </div>
</div>

{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}
