<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title id='Description'>Project</title>
<meta name="description" content="Project" />

<link rel="stylesheet"
	href="{{=URL('static','css/vendor/jqwidgets/styles/jqx.base.css')}}"
	type="text/css" />
<link rel="stylesheet"
	href="{{=URL('static','css/vendor/jqwidgets/styles/jqx.arctic.css')}}"
	type="text/css" />
<link rel="stylesheet" href="{{=URL('static','css/site.css')}}"
	type="text/css" />
<script src="{{=URL('static','js/vendor/jquery/jquery-1.11.1.min.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxcore.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxdata.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxinput.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxscrollbar.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxmenu.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.pager.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.filter.js')}}"
	type="text/javascript"></script>
<script
	src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.selection.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxdata.export.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.export.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.sort.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.edit.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxtree.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxnumberinput.js')}}"	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxwindow.js')}}"	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxnavbar.js')}}"	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxlistbox.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxpanel.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxsplitter.js')}}" type="text/javascript"></script>
<script	src="{{=URL('static','js/vendor/jqwidgets/jqxdropdownlist.js')}}"	type="text/javascript"></script>
<script	src="{{=URL('static','js/vendor/jqwidgets/jqxDropDownButton.js')}}"	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxEditor.js')}}"	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxDataTable.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxTooltip.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxcalendar.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxcheckbox.js')}}"
	type="text/javascript"></script>
<script
	src="{{=URL('static','js/vendor/jqwidgets/jqxDateTimeInput.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxexpander.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxComboBox.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/jqxValidator.js')}}"
	type="text/javascript"></script>	

<script src="{{=URL('static','js/vendor/jqwidgets/jqxscrollbar.js')}}"
	type="text/javascript"></script>	
<script src="{{=URL('static','js/vendor/jqwidgets/jqxtextarea.js')}}"
	type="text/javascript"></script>	
		
<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.columnsresize.js')}}"></script>
	<script type="text/javascript"
	src="{{=URL('static','js/vendor/jqwidgets/globalization/globalize.js')}}"></script>
	
<script src="{{=URL('static','js/vendor/jqwidgets/demos.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/vendor/jqwidgets/generatedata.js')}}"
	type="text/javascript"></script>
<script src="{{=URL('static','js/commonJs.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/xmglmx.js')}}" type="text/javascript"></script>
<script type="text/javascript"
	src="{{=URL('static','js/gmbsmxform.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/tbzjmxform.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/tbbzjmxform.js')}}"></script>
<script type="text/javascript"
	src="{{=URL('static','js/xmzcmxform.js')}}"></script>	
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/globalization/globalize.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/globalization/globalize.culture.zh-CN.js')}}"></script>
	


<style type="text/css">
/*input:focus {
	background-color: #FF6;
}*/
</style>
<script type="text/javascript">
	
</script>
</head>

<body class='default'>

	<div id='jqxProjectBasicExpander' class="g111">
		<div>
			项目档案
			<div style="display: none" id="ProjectData">{{=project}}</div>
			<div style="display: none" id="Dictionaries">{{=dictionaries}}
			</div>
			<div style="display: none" id="viewflag">{{=viewflag}}
			</div>			
		</div>

		<div style="overflow: hidden;">
			<div id="navBar4" width="100%">
				<ul>
					<li>建档阶段</li>
					<li>招标公告</li>
					<li>开标阶段</li>
					<li>评标阶段</li>
					<li>中标阶段</li>

				</ul>
			</div>
			<table width="100%">
				<tr>
					<td align="left">
						<p>项目编号</p>
					</td>
					<td align="left"><input id="EditProject_ProjectCode" /></td>
					<td align="left">
						<p>项目名称</p>
					</td>
					<td align="left"><input id="EditProject_ProjectName" /></td>
					<td align="left">
						<p>采购单位</p>
					</td>
					<td align="left">
						<div id="EditProject_Customer" />
					</td>
				</tr>
				<tr>
					<td align="left">
						<p>项目类型</p>
					</td>
					<td align="left">
						<div id="EditProject_ProjectType" />
					</td>
					<td align="left">
						<p>采购方式</p>
					</td>
					<td align="left">
						<div id="EditProject_PurchaseStyle" />
					</td>
					<td align="left">
						<p>项目来源</p>
					</td>
					<td align="left">
						<div id="EditProject_ProjectSource" />
					</td>
				</tr>
				<tr>
					<td align="left">
						<p>资金来源</p>
					</td>
					<td align="left">
						<div id="EditProject_FundingSource" />
					</td>
					<td align="left">
						<p>项目负责人</p>
					</td>
					<td align="left">
						<div id="EditProject_Employee" />
					</td>
					<td align="left">
						<p>项目协助人</p>
					</td>
					<td align="left">
						<div id="EditProject_Assistant" />
					</td>
				</tr>
				<tr>
					<td align="left">
						<p>项目状态</p>
					</td>
					<td align="left">
						<div id="EditProject_ProjectStatus" />
					</td>
					<td align="left">
						<p>创建日期</p>
					</td>
					<td align="left"><input id="EditProject_CreationDate" /></td>
				</tr>
				<!--  
				<tr>
					<td colspan="4" align="left"><p>项目备注</p>
						<div id="Note_ADD" /></td>
				</tr>
				-->
				<tr>
					<td align="center" style="padding-top: 10px;">
					<td align="center" style="padding-top: 10px;">
					<td align="center" style="padding-top: 10px;">
					<td align="center" style="padding-top: 10px;"><input
						style="margin-right: 5px;" type="button" id="EditProject_Save"
						value="保存" /> <input type="button" id="EditProject_Cancel"
						value="取消" /> <input type="button" id="EditProject_Return"
						value="返回" /></td>
					<td align="center" style="padding-top: 10px;">
					<td align="right"></td>
				</tr>
			</table>
		</div>
	</div>
	<div id='jqxProjectPackagesExpander' class="g111">
		<div>包件管理</div>
		<div style="overflow: hidden;">
			<div id="EditProject_PackageTable"></div>
		</div>
	</div>

	<div id='jqxProjectDocumentsExpander' class="g111">
		<div>标书管理</div>
		<div style="overflow: hidden;">
			<div id="EditProject_DocumentTable"></div>
		</div>
	</div>

	<div id='jqxProjectMarginExpander' class="g111">
		<div>保证金管理</div>
		<div style="overflow: hidden;">
			<div id="EditProject_MarginTable"></div>
		</div>
	</div>


	<div id='jqxtbbzjExpander' class="g111">
		<div>投标保证金管理</div>
		<div style="overflow: hidden;">
			<div id="EdittbbzjTable"></div>
		</div>
	</div>
	<div id='jqxtbzjExpander' class="g111">
		<div>退保证金管理</div>
		<div style="overflow: hidden;">
			<div id="EdittbzjTable"></div>
		</div>
	</div>
	<div id='jqxProjectContactsExpander' class="g111">
		<div>干系人查询</div>
		<div style="overflow: hidden;">
			<div id="EditProject_ContactsTable"></div>
		</div>
	</div>

	<div id='jqxProjectExpanse' class="g111">
		<div>项目支出查询</div>
		<div style="overflow: hidden;">
			<div id="EditProject_ExpanseTable"></div>
		</div>
	</div>

	<div id='jqxProjectFinanceExpander' class="g111">
		<div>收入支出查询</div>
		<div style="overflow: hidden;">
			<div id="EditProject_FinanceTable"></div>
		</div>
	</div>

	<div id="popupWindow_PackageADD">
		<div id="PackageADD_Validator">新增项目包件</div>
		<div style="overflow: hidden;">
			<table width="100%" >
				<tr>
					<td align="left">
						<p>包编号</p>
					</td>
					<td align="left"><input id="PackageNumber_ADD" /></td>

					<td align="left">
						<p>包状态</p>
					</td>
					<td align="left">
						<div id="StateIdPackage_ADD" />
					</td>
				</tr>
				<tr>
					<td align="left">
						<p>包名称</p>
					</td>
					<td align="left"><input id="PackageName_ADD" /></td>

					<td align="left">
						<p>委托金额</p>
					</td>
					<td align="left"><input id="EntrustMoney_ADD" /></td>
				</tr>
				<tr>
					<td align="left">
						<p>公告日期</p>
					</td>
					<td align="left"><input id="PublicDate_ADD" /></td>

					<td align="left">
						<p>第二轮公告日期</p>
					</td>
					<td align="left"><input id="SecondPublicDate_ADD" /></td>
				</tr> 
				<tr>
					<td align="left">
						<p>开标日期</p>
					</td>
					<td align="left"><input id="OpenDate_ADD" /></td>

					<td align="left">
						<p>评标日期</p>
					</td>
					<td align="left"><input id="ReviewDate_ADD" /></td>
				</tr> 
				<tr>
					<td align="left">
						<p>备注</p>
					</td>
					<td colspan=3 align="left"><textarea  id="comment_ADD" ></textarea></td>
				</tr>				
<!-- 				<tr>
					<td align="left">
						<p>签约日期</p>
					</td>
					<td align="left"><input id="SigningDate_ADD" /></td>
				</tr>
				<tr>
					<td align="left">
						<p>开票日期</p>
					</td>
					<td align="left"><input id="MakeOutDate_ADD" /></td>
				</tr> 
				
				<tr>
					<td align="left">
						<p>中标金额</p>
					</td>
					<td align="left"><input id="WinningMoney_ADD" /></td>
				</tr>
				<tr>
					<td align="left">
						<p>中标单位</p>
					</td>
					<td align="left"><input id="WinningCompany_ADD" /></td>
				</tr>
				<tr>
					<td align="left">
						<p>服务费率</p>
					</td>
					<td align="left"><input id="ChargeRate_ADD" /></td>
				</tr> -->
				
				<!-- <tr>
					<td align="left">
						<p>包备注</p>
					</td>
					<td align="left" COLSPAN=3><input id="NotePackage_ADD" /></td>
				</tr> -->
				<tr>
												<td ></td>
					<td align="center" style="padding-top: 10px;">
					<td align="right"><input style="margin-right: 5px;"
						type="button" id="SavePackage_ADD" value="保存" /><input
						type="button" id="CancelPackage_ADD" value="取消" /></td>

				</tr>
			</table>
		</div>
	</div>

	<div id="popupWindow_PackageManage">
		<div id="PackageManage_Validator">项目包件编辑</div>
		<div style="overflow: hidden;">
		<div style="display: none" id="packageID" > </div>
		<table width="100%">
		<tr>
				<td align="left">
					<p>包编号</p>
				</td>
				<td align="left"><input id="PackageNumber_Manage" /></td>

				<td align="left">
					<p>包名称</p>
				</td>
				<td align="left"><input id="PackageName_Manage" /></td>
			</tr>
			<tr>
							<td align="left">
								<p>委托金额</p>
							</td>
							<td align="left"><input id="EntrustMoney_Manage" /></td>

				<td align="left">
					<p>包状态</p>
				</td>
				<td align="left">
					<div id="StateIdPackage_Manage" />
				</td>
			</tr>
			
						<tr>
							<td align="left">
								<p>公告时间</p>
							</td>
							<td align="left"><input id="PublicDate_Manage" /></td>
							<td align="left">
								<p>第二轮公告日期</p>
							</td>
							<td align="left"><input id="SecondPublicDate_Manage" /></td>
						</tr>
						<tr>
							<td align="left">
								<p>开标时间</p>
							</td>
							<td align="left"><input id="OpenDate_Manage" /></td>
							<td align="left">
								<p>评标时间</p>
							</td>
							<td align="left"><input id="ReviewDate_Manage" /></td>
						</tr>
					<tr><td colspan=4><hr/></td></tr>
					<tr id = 'tr_WinningCompany' style="display: none"><td align="left"><p>中标单位</p></td><td align="left"><input id="WinningCompany_Manage"/></td>
					<td align="left"><p>中标金额</p></td><td align="left"><input id="WinningMoney_Manage"/></td></tr>
					<tr id = 'tr_SigningDate'  style="display: none"><td align="left"><p>签约时间</p></td><td align="left"><input id="SigningDate_Manage"/></td>
					<td align="left"><p>开票时间</p></td><td align="left"><input id="MakeOutDate_Manage"/></td></tr>
					<tr id = 'tr_ChargeRate' style="display: none"><td align="left"><p>服务费</p></td><td align="left"><input id="ChargeRate_Manage"/></td></tr>
					<tr>
						<td align="left">
							<p>备注</p>
						</td>
						<td colspan=3 align="left"><textarea  id="comment_Manage" ></textarea></td>
					</tr>							
						<tr>
							<td></td>
							<td align="center" style="padding-top: 10px;">
							<td align="right"><input style="margin-right: 5px;"
								type="button" id="SavePackage_Manage" value="保存" /><input
								type="button" id="CancelPackage_Manage" value="取消" /></td>
						</tr>
					</table>
					</div>
	</div>
	
	<div id ="popupWindow_PackageDateSetting">
			<div id="mainSplitter">
			<div class="splitter-panel">
				<div id="jqxTree"  style='visibility: hidden; float: left; margin-left: 20px;'></div>
			</div>
			<div class="splitter-panel">
			</div>
		</div>
	</div>
</body>

</html>