
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title id='Description'>jqxEditor represents a ready-for-use HTML editor which can simplify web content creation or be a replacement of your HTML Text Areas.</title>
    <link rel="stylesheet" href="{{=URL('static','css/vendor/jqwidgets/styles/jqx.base.css')}}" type="text/css" />
    <link type="text/css" rel="Stylesheet" href="{{=URL('static','css/site.css')}}" />
    <script type="text/javascript" src="{{=URL('static','js/vendor/jquery/jquery-1.11.1.min.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/demos.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxbuttons.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxscrollbar.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxdropdownlist.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxdropdownbutton.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxdatetimeinput.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxwindow.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxeditor.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxtooltip.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxdata.js')}}"></script> 
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxinput.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxcalendar.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxexpander.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.pager.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxwindow.js')}}"></script> 
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxlistbox.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.selection.js')}}"></script> 
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.columnsresize.js')}}"></script>

    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxdata.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxdata.export.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxgrid.export.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxdraw.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/jqxchart.core.js')}}"></script>
   
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/globalization/globalize.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/vendor/jqwidgets/globalization/globalize.culture.zh-CN.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static','js/zzxmtjb.js')}}"></script>
    
</head>
<body>

    <div id="zzxmtjb-expander">
    <div>在做项目统计表</div>
    <div >

    	<div id='zzxmtjb-grid' style='margin: 1%;'></div>
    	<div id='chartContainer' style="width:100%; height:500px;"/>
    </div>
    </div>
       
    
</body>
</html>
