<!DOCTYPE html>
 <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- include stylesheets  -->
    <link rel="stylesheet" href="{{=URL('static','css/vendor/bootstrap/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/vendor/web2py/web2py-bootstrap3.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/vendor/web2py/modernizr-2.8.3.min.js')}}"></script>
   
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}
    {{end}}
  </head>
  <body>
    <!-- Navbar ======================================= -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{=response.logo or ''}}
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
          </ul>
          {{if response.menu:}}
          {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div>
      </div>
    </nav>
    <!-- Masthead ===================================== -->    
    {{block header}}    
    
    {{end}}
    <!-- Main ========================================= -->
    
    <!-- Begin page content -->
    {{block center}}
      {{include}}
    {{end}}
    
    {{block footer}} <!-- this is default footer -->      
    <footer class="footer">
      <div class="container-fluid">
        <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            {{=T('Powered by')}}
            <a href="http://www.clio.com/">上海赢久软件有限公司</a>
          </div>
      </div>
    </footer>
    {{end}}
    
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/vendor/bootstrap/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/vendor/web2py/web2py-bootstrap3.js')}}"></script>
    {{block page_js}}
    
    {{end page_js}}
    
    <!-- Share ============================y============ -->
    <script src="{{=URL('static','js/vendor/web2py/share.js',vars=dict(static=URL('static','images')))}}"></script>
  </body>
</html>
